.signup-container,.login-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-left,.auth-right{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gradient-box {
    width: 100px;
    height: 100%; 
    background: linear-gradient(to right, #b1c9a3, white);
  }
.login-container form h1,.signup-container form h1{
    color: #abde04;
}


.login-container form input,.signup-container form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container form button ,.signup-container form button{
    padding: 10px;
    background-color: #abde04;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    width: 40%;
    height: 50px;
}

.login-container form button:hover,.signup-container form button:hover{
    background-color: #6b8b00;
}

.login-form-component{
    display: flex;
    flex-direction: column;
    background-color: pink;
}

.login-componenent a{
    color: black;
}