.ant-card-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reward-card .ant-card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .reward-card .ant-card-cover img {
    width: 100%;
    height: 100px; 
    object-fit: cover;
  }
  