.custom-navbar {
  border-bottom: 3px solid #abde04;
  font-size: large;
  font-weight: 450;
  background-color: pink;
}

.brand-part1 {
  color: black;
  font-weight: bolder;
  font-size: larger;
}

.brand-part2 {
  color: #abde04;
  font-weight: bolder;
  font-size: larger;
}

.custom-navbar a {
  text-decoration: none;
  color: black;
}

.custom-navbar a:hover {
  color: #abde04;
}

.custom-navbar a:active {
  color: #abde04;
}

.custom-navbar .dropdown-menu {
  border-radius: 3px;
  min-width: 200px;
  margin-top: 10px;
  top: 100%;
}

.custom-navbar .nav-dropdown {
  color: black;
}

.custom-navbar .nav-dropdown:hover {
  background-color: #f8f9fa;
  color: #abde04;
}

.navbar-nav {
  padding-right: 10px;
}
