/* components/navbar/navbar.css */

.custom-navbar {
    border-bottom: 3px solid #abde04;
    font-size: large;
    font-weight: 450;
}
  
  .brand-part1 {
    color: black;
    font-weight: bolder;
    font-size: larger;
  }
  
  .brand-part2 {
    color: #abde04;
    font-weight: bolder;
    font-size: larger;
  }
  